
/**********************************************************/
/*    Colour Palette
/*****************************************************************/

$base-color-white: #fff;
$primary-color-dark: #576EAF;
$primary-color-light: #959ECC;

$secondary-color-dark: #F5822B;
$secondary-color-light: #F8A464;

$grey-shade-dark: #333;
$grey-shade-medium: #666;
$grey-shade-light: #999;


$error-color:#bb3e53;
$success-color:#54a267;
$warning-color:#ffcc01;
$link-color:#2793e6;


