/**********************************************************/
/*       global variables
/*****************************************************************/

$font-size-root: 14px;

$font-light: Montserrat-Light;
$font-regular: Montserrat-Regular;
$font-medium: Montserrat-Medium;
$font-semi-bold: Montserrat-SemiBold;
$font-icomoon: icomoon;


// override bootstrap varables
// $body-bg: $base-color-white;
// $body-color: $grey-shade-dark;
// $primary: $secondary-color-dark;
// $secondary: $secondary-color-light;
