/**********************************************************/
/* Loader animation appears on app start
/*****************************************************************/

.loader-wrap{
  text-align: center;
  .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 30px;
    margin-top: -15px;
    margin-left: -10px;
    vertical-align: middle;
  }
}
