<div class="pull-right">
    <button mat-icon-button color="accent" (click)="dismiss()">
        <mat-icon>close</mat-icon>
  </button>
</div>

<div style="margin: 30px">

<h5 style="text-align: center; margin-bottom: 40px" >Know what’s happening</h5>

<div style="text-align: center; margin: 0px 50px 60px 50px; white-space: pre-wrap;">
 {{data}}
</div>


<div style="text-align: center;">
<button style="width: 200px; margin-right:20px" mat-raised-button color="primary">Normal</button>
<button mat-button color="primary" (click)="dismiss()">Cancel</button>
</div>
</div>
