<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
    <system.webServer>
      <httpErrors>
        <remove statusCode="403"/>
        <error statusCode="403" prefixLanguageFilePath="" path="/DEV/NG/EN/" responseMode="ExecuteURL" />
      </httpErrors>
      <staticContent>
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
    </system.webServer>
 </configuration>
