<h2 mat-dialog-title>Add new Product</h2>
<mat-dialog-content>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Product Title" [formControl]="title"  required>
      <mat-error *ngIf="title.invalid">{{getErrorMessageFirstName('Product Title')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Product Category" [formControl]="item1" required>
      <mat-error *ngIf="item1.invalid">{{getErrorMessageLastName('Product Category')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Item2" [(ngModel)]="product.Item2">
    </mat-form-field>


    <mat-form-field>
        <input matInput placeholder="Item3" [(ngModel)]="product.Item3">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Item4" [(ngModel)]="product.Item4">
      </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
  <button mat-button color="primary" (click)="dismiss()">Cancel</button>
</mat-dialog-actions>

